:root {
  --font-primary-color: #023047;
  --bg-color: #8ecae6;
  --task-bg-primary-color: #faedcd;
  --task-bg-secondary-color: #d4a373;
  --dashed-border-color: #053b59;
  --separator-border-color: #000;
  --border-radius-unit: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  height: 2.5em;
  border-radius: var(--border-radius-unit);
}

button {
  height: 2em;
  border-radius: var(--border-radius-unit);
  border: 0.25px grey solid;
  padding: 4px;
}

.app {
  background-color: var(--bg-color);
  border-radius: calc(var(--border-radius-unit) * 2);
  text-align: center;
  margin: 1em auto;
  padding: 0 1.5em;
  max-width: 1080px;
}

.app-title {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  pointer-events: none;
}

.search-form > *{
  margin: 0 0.75em;
}

#search-input {
  border: 0.5px grey solid;
  padding-left: 1em;
  width: 30em;
}

.tasks-board {
  display: flex;
  gap: 16px;
  min-height: calc(100vh - 12em);
  padding-top: 16px;
}

.task-form {
  border: 0.5px var(--dashed-border-color) dashed;
  border-radius: 8px;
  padding: 1em;
  display: flex;
  width: 15em;
  height: 20em;
  flex-direction: column;
}

.task-form > label {
  margin-bottom: 0.5em;
}

.task-form > input {
  border: none;
  border-bottom: 2px grey solid;
  margin-bottom: 1.5em;
  padding-left: 0.5em;
}

.task-form > button {
  width: 120px;
  align-self: flex-end;
}

.tasks-list {
  border-left: 1px var(--separator-border-color) solid;
  padding-left: 1em;
  flex-grow: 1;
  height: 100%;
  margin-bottom: 1.5em;
}

.tasks-list > h2 {
  margin: 0.75em 0;
}

ul {
  list-style: none;
}

li.task-item {
  display: flex;
  align-items: center;
  /* background-color: #c9cbcb; */
  background-color: var(--task-bg-primary-color);
  border: 0.5px var(--dashed-border-color) dashed;
  border-radius: 8px;
  margin-bottom: 1em;
  padding: 0.75em 0;
}

.task-details {
  text-align: left;
  padding-left: 1em;
  flex-grow: 1;
  margin-right: 0.75em;
}

.task-title {
  margin-bottom: 0.3em;
}

.task-actions > button {
  margin: auto 0.5em;
  height: 36px;
  width: 36px;
}
