:root {
  --font-primary-color: #023047;
  --bg-color: #457b9d;
  --task-bg-primary-color: #dcdddd;
  --dashed-border-color: #053b59;
  --separator-border-color: #000;
  --border-radius-unit: 4px;
}

input {
  height: 2.5em;
  border-radius: var(--border-radius-unit);
}

input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

button {
  height: 2em;
  border-radius: var(--border-radius-unit);
  border: 0.25px grey solid;
  padding: 4px;
  cursor: pointer;
}

button:disabled {
 cursor: default;
}

button > .btn-icon {
  font-size: 20px;
}

.app {
  background-color: var(--bg-color);
  border-radius: calc(var(--border-radius-unit) * 2);
  text-align: center;
  margin: 1em auto;
  padding: 0 1.5em;
  max-width: 1080px;
}

.app-title {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  pointer-events: none;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
}

.search-form > button {
  padding: 6px;
  height: 2.5em;
}

#search-input {
  border: 0.5px grey solid;
  padding-left: 1em;
  width: 30em;
}

.tasks-board {
  display: flex;
  gap: 16px;
  min-height: calc(100vh - 12em);
  padding-top: 16px;
}

.task-form {
  border: 0.5px var(--dashed-border-color) dashed;
  border-radius: calc(var(--border-radius-unit) * 2);
  padding: 1em;
  display: flex;
  width: 15em;
  height: 20em;
  flex-direction: column;
}

.task-form > label {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.task-form > input {
  border: none;
  border-bottom: 2px grey solid;
  margin-bottom: 1.5em;
  padding-left: 0.5em;
}

.task-form > button {
  width: 130px;
  align-self: flex-end;
}

.error-msg {
  color: rgb(155, 0, 0);
}

.tasks-list {
  border-left: 1px var(--separator-border-color) solid;
  padding-left: 1em;
  flex-grow: 1;
  height: 100%;
  margin-bottom: 1.5em;
}

.tasks-list > h2 {
  margin: 0.75em 0;
}

ul {
  list-style: none;
}

li.task-item {
  display: flex;
  align-items: center;
  background-color: var(--task-bg-primary-color);
  border: 0.5px var(--dashed-border-color) dashed;
  border-radius: calc(var(--border-radius-unit) * 2);
  margin-bottom: 1em;
  padding: 0.75em 0;
}

li.task-item:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.task-details {
  text-align: left;
  padding-left: 1em;
  flex-grow: 1;
  margin-right: 0.75em;
}

.task-title {
  margin-bottom: 0.3em;
}

.task-actions > button {
  margin: auto 0.5em;
  height: 36px;
  width: 36px;
}
